.container{
    font-size: 3rem;
    font-weight: 700;
    color: var(--yellow-500);
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
    
    .secondText{
        color: var(--cyan-500);
    }
}
