.ContainerDropCsv {
    height: 200px;
    width: 520px;
    border: 0.1rem solid black;
    border-radius: 3rem;
    font-size: 24px;
    box-shadow: inset 1px -15px 36px 4px rgba(240, 255, 255,0.1);

    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}